﻿@{
    ViewBag.Title = "Home Page";
    @model Dictionary<string,string>
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <p> Address: @item.Key  Hash: @item.Value</p>
        }
    }

</div>